<div class="container">
  <div class="row">
  <div class="col-sm-12">
    <p class="text-dark">
    Add new servers or blueprints
    </p>  
    <label class="font-weight-bold" for="name">Server Content</label>
    <input id="name" type="text" class="form-control mb-3" [(ngModel)]="newServerName">

    <label class="font-weight-bold" for="content">Server Content</label>
    <textarea [(ngModel)]="content" class="form-control" name="" id="content" cols="30" rows="5"></textarea>
  </div>
  </div>
  <hr>
  <div class="row">
  
  </div>
  <div class="col-sm-12">
  <div class="card">
  <div class="card-header font-weight-bold">
    Featured
  </div>
  <div class="card-body">
    
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
  </div>
</div>
